.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.intro, .title {
    text-align: center;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.image {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}
